<div class="d-flex align-items-center">
  <h2 class="flex-grow-1"><span>## PAST_SPRINTS || ACP-004</span></h2>
  <b>~VLCTY: <span class="white">{{ medianVelocity$ | calculation | async }}</span> //</b>
</div>

<div class="d-flex flex-column">
  <div
    cdkDropList
    cdkDropListLockAxis="y"
    (cdkDropListDropped)="onSprintDrop($event)"
  >
    @for (sprint of state.form.controls.sprints.controls; track sprint.value.id) {
      <form [formGroup]="sprint" cdkDrag>
        <retro-card>
          <retro-card-header>
            <button cdkDragHandle class="retro small">::</button>

            <retro-card-title>
              <retro-datepicker [control]="sprint.controls.startDate!" placeholder="start_date"
              ></retro-datepicker>
            </retro-card-title>
            <retro-card-title>
              <retro-datepicker [control]="sprint.controls.endDate!" placeholder="end_date"
              ></retro-datepicker>
            </retro-card-title>

            <button class="retro danger small" (click)="state.removeSprint(sprint.value.id!)">X</button>
          </retro-card-header>

          <storyarea placeholder="Enter sprint details..." [control]="sprint.controls.rawInput!"></storyarea>
        </retro-card>
      </form>
    }
  </div>

  <button class="retro big mb-5" (click)="state.addSprint()">Add_sprint</button>
</div>
