// Global base style
@import './theme';

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: map-get($grey-palette, 900);
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

textarea {
  width: 100%;
  min-height: 100px;
  background-color: map-get($grey-palette, 600);
  border-radius: 5px;
  padding: 0.75rem;
  resize: vertical;
}

.content-xl {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.mdc-card.mat-mdc-card.lighter {
  background-color: map-get($grey-palette, 700);

  input,
  textarea {
    background-color: map-get($grey-palette, 800);
  }
}
