@import './theme';

body {
  .mat-mdc-button {
    font-weight: bold;
  }

  .mdc-card.mat-mdc-card {
    background-color: map-get($grey-palette, 800);
    border: none;
    border-radius: 15px;
    padding: 25px;

    table.mat-mdc-table {
      background-color: transparent;

      th:first-child, td:first-child {
        padding-left: 20px;
      }

      th:first-child, td:last-child {
        padding-right: 20px;
      }
    }

    .mat-mdc-paginator {
      margin-right: 20px;
      margin-bottom: 20px;

      button[disabled="true"] {
        color: map-get($grey-palette, 400);
      }
    }

    .mat-mdc-card-header, .mat-mdc-card-content {
      padding: 0;

      .mat-mdc-card-header-text {
        width: 100%;
      }
    }
  }

  table.mat-mdc-table {
    td {
      font-family: Montserrat, sans-serif;
      padding: 12px 0;
      border-color: map-get($grey-palette, 100);
      text-align: center;
    }

    tr:last-child {
      td.mat-mdc-cell, td.mat-cell {
        border-bottom: 1px solid map-get($grey-palette, 300);
      }
    }

    th {
      color: map-get($grey-palette, 100);
      font-weight: bold;
      font-family: Montserrat, sans-serif;
      padding: 20px 0;
      border-color: map-get($grey-palette, 300);
      text-align: center;
    }

    th:not(.text-left):not(.text-right) {
      .mat-sort-header-container {
        justify-content: center;
      }
    }
  }

  form {
    .mat-mdc-form-field {
      font-size: 14px;

      mat-label {
        color: map-get($grey-palette, 100);
        font-weight: bold;
      }

      .mat-mdc-text-field-wrapper {
        background-color: map-get($grey-palette, 100);
        border-radius: 10px;

        .mdc-line-ripple::before, .mdc-line-ripple::after {
          border: none;
        }
      }
    }
  }
}

.mat-expansion-panel.seamless {
  box-shadow: none !important;
  background-color: transparent;
  border-radius: 15px;

  .mat-expansion-panel-header {
    padding: 0;
    height: initial;

    .mat-content {
      margin: 0;
    }

    .mat-mdc-button {
      width: 100%;
    }
  }

  &.mat-expanded {
    border: 1px solid map-get($grey-palette, 200);

    .mat-expansion-panel-header {
      padding: 10px 4px 0 4px;
    }
  }
}

.cdk-overlay-container {
  .mat-mdc-option {
    font-size: 14px;
  }

  mat-tooltip-component {
    font-size: 14px;
  }

  .mat-bottom-sheet-container {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
}

.cdk-drag {
  transition: box-shadow 200ms ease-in-out;
}

.cdk-drag-preview {
  overflow: hidden;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}
