<mat-card>
  <mat-card-header>
    <mat-card-title>Product Backlog</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <button (click)="state.addBacklog()" mat-raised-button color="primary">Add backlog</button>

    <div cdkDropList (cdkDropListDropped)="onBacklogDrop($event)">
      @for (backlog of state.form.controls.backlogs.controls; track backlog.value.id) {
        <app-backlog [backlog]="backlog" (remove)="state.removeBacklog(backlog.value.id!)"></app-backlog>
      }
    </div>
  </mat-card-content>
</mat-card>
