<main>
  <form [formGroup]="state.form">
    <section>
      <div class="d-flex align-items-center">
        <img src="logo.png" width="200px" alt="logo">

        <h1 class="flex-grow-1" style="text-align: right"><span>MISSION CONTROL #</span></h1>
      </div>
    </section>

    <section>
      <app-current-sprint></app-current-sprint>
    </section>

    <section>
      <app-backlogs></app-backlogs>
    </section>

    <section>
      <app-story-attic></app-story-attic>
    </section>

    <section>
      <app-sprints></app-sprints>
    </section>

    <section>
      <p style="text-align: center">
        PROPRIETARY TECHNOLOGY<br>
        PROPERTY OF LIANTO ENGINEERING CORP.
      </p>
    </section>
  </form>
</main>
