<main>
  <form [formGroup]="state.form">
    <section>
      <app-header></app-header>
    </section>

    <section>
      <app-current-sprint></app-current-sprint>
    </section>

    <section>
      <app-backlogs></app-backlogs>
    </section>

    <section>
      <app-story-attic></app-story-attic>
    </section>

    <section>
      <app-sprints></app-sprints>
    </section>

    <section>
      <app-storage></app-storage>
    </section>

    <section>
      <p style="text-align: center">
        PROPRIETARY TECHNOLOGY<br>
        PROPERTY OF LIANTO ENGINEERING CORP.
      </p>
    </section>
  </form>
</main>
