<main>
  <section>
    <app-header></app-header>
  </section>

  <section>
    <app-project-tabs></app-project-tabs>
  </section>

  @for (projectId of [state.activeProjectId]; track projectId) {
    <section>
      <app-project-settings></app-project-settings>
    </section>

    <section>
      <app-current-sprint></app-current-sprint>
    </section>

    <section>
      <app-backlog></app-backlog>
    </section>

    <section>
      <app-sprints></app-sprints>
    </section>

    <section>
      <app-storage></app-storage>
    </section>
  }

  <section>
    <p style="text-align: center">
      PROPRIETARY TECHNOLOGY<br>
      PROPERTY OF LIANTO ENGINEERING CORP.
    </p>
  </section>
</main>
